[submodule "food-search-api"]
	path = food-search-api
	url = git@github.com:henrywalters/food-search-api.git
[submodule "recipe-generator"]
	path = recipe-generator
	url = git@github.com:henrywalters/recipe-generator.git
